html, body {
  margin: 0;
  padding: 0;
}

.btn {
  width:350px;
  height:100px;
  background-color: #0088f7;
  border: 3px solid rgb(37, 72, 138);
  color: rgb(29, 28, 28);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.btn:hover{
  background-color: #0088f759;
  color: rgba(29, 28, 28, 0.678);
  border: 3px solid #ffffff;
}

.ibtn {
  width:350px;
  height:100px;
  background-color: #f7bd00;
  border: 3px solid #977503;
  color: rgb(29, 28, 28);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.ibtn:hover{
  background-color: #f7bd00a4;
  color: rgba(29, 28, 28, 0.678);
  border: 3px solid #ffffff;
}

.play {
  width:350px;
  height:100px;
  background-color: #8cbe16;
  border: 3px solid #567018;
  color: rgb(29, 28, 28);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.play:hover{
  background-color: #8cbe1662;
  border: 3px solid #ffffff;
  color:rgba(29, 28, 28, 0.678);
}

.gameTitleAfterEffect{
  width: 20%;
}

.gameTitleAfterEffect2{
  width: 60%;
}